<h1>Update Infor</h1>


  <form class="row g-3" (ngSubmit)="updateConsultant()">
    <div class="col-md-6">
      
      <label for="inputfname4" class="form-label">Firm Name</label>
      <input type="text" class="form-control" name="firmName" placeholder="Your firm name.." [(ngModel)]="consaltant.firmName">
    </div>
    <div class="col-md-6">
      <label for="inputfirmtype4" class="form-label">Firm Type</label>
      <select name="firmtype" class="form-select" [(ngModel)]="consaltant.firmType">
        <option value="public">Public Sector</option>
        <option value="private">Private Sector</option>
      </select>
    </div>
   
    <div class="col-md-6">
      <label for="inputfinancialyear" class="form-label">Financial Year</label>
      <input type="date" name="FinancialYear" class="form-control"  [(ngModel)]="consaltant.financialYear">

    </div>

    <div class="col-md-6">
      
      <label for="inputplace4" class="form-label">Firm Location</label>
      <input type="text" class="form-control" name="Place" placeholder="Your Location.."  [(ngModel)]="consaltant.place">
    </div>
    <div class="col-md-12">
        <label for="inputfirmtype4" class="form-label">Consultancy</label>
        <select name="firmtype" class="form-select" id="inputfirmtype4" [(ngModel)]="consaltant.consultant">
          <option value="tax">Tax Consultancy</option>
          <option value="business">Business Consultancy</option>
        </select>
        
      </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Update</button>
    </div>
  </form>

