<div class="container mt-3">
  <div class="row">
      <div class="col-md-4">
          
          <div class="card mb-4">
            <div class="card-body">
              <h2>Client Information</h2>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Firm Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.client.firmName}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"> Firm Type</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.client.firmType}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.client.firmEmail}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.client.firmPhone}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.client.firmAddress}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-body">
              <h2>Services Selected</h2> <p>- Accounting</p>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Financial Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.startingDate}} - {{accounting.endingDate}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Accounting Period</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.accountingPeriod}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Accounting Standard</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.accountingStandard}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Financial Statement</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.financialStatements}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nature Of the Business</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.businessNature}}</p>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Previous Financial Statement</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.previousFinancialStatement}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Approval Status</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.approvalStatus}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.contractStatus}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Engagement Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{accounting.engagementDate}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
  </div>
</div>

