<div class="container">
    <section class="gallary">
        <div class="section__container gallary__container">
          <div class="image__gallary">
            <div class="gallary__col">
              <img src="../../../assets/images/ig5.PNG" alt="gallary" />
            </div>
            <div class="gallary__col">
              <img src="../../../assets/images/ig2.PNG" alt="gallary" />
              <img src="../../../assets/images/ig4.PNG" alt="gallary" />
            </div>
          </div>
          <div class="gallary__content">
            <div>
              <h2 class="section__title">
                About 
              </h2>
              <p class="section__subtitle">
                streamline and improve the compliance process within organizations. 
                By automating compliance processes, organizations can reduce the risk
                of non-compliance, avoid penalties and fines, 
                and improve overall operational efficiency.
              </p>
              <div class="col">
                <div class="row">
                    <div class="col">
              <h2>Our Vision</h2>
              To provide brilliant and value added professional services to our clients in order for them to over perform.
              <h3> Our Values</h3>
              <ul>
              <li>Excellence</li>
              <li>Honest/Integrity</li>
              <li>Effectiveness</li>
              <li>Accountability</li>
              <li>Professionalism</li>            
              </ul>
                </div>
                <div class="col">
            <h2>Our Mission</h2>
            Nasaha Consultant is committed and loving in providing professional, timely, 
            comprehensive accounting and legal services to our clients, 
            using a balance of innovation and practicality. 
            The Firm staffs its engagements with people who reflect the values, ethics and dedication of our profession and our Firm, 
            thereby ensuring the best possible service to every client, on every assignment
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
</div>
