<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            
            <div class="card mb-4">
              <div class="card-body">
                <h2>Client information</h2>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Firm Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.client.firmName}} </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0"> Firm Type</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.client.firmType}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.client.firmEmail}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.client.firmPhone}}</p>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.client.firmAddress}}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-body">
                <h2>Services Selected</h2><p>-Consultancy</p>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Consultancy Type</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.consultancyType}} </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Scope</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.consultancyScope}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Consultancy Objective</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.consultancyObjective}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Expert Needed</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.expert}}</p>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Financial Year</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.financialYear}}</p>
                  </div>
                </div>

                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Firm Budget</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.budget}} </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Fee Structure</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.feeStructure}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Approval Status</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.approvalStatus}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.contractStatus}}</p>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Engagement Date</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{consultancy.engagementDate}}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
    
    </div>
</div>

