<div class="container">
   <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

      <form class="mx-1 mx-md-4" [formGroup]="regForm" (ngSubmit)="addReg()">

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3Example1c" class="form-control" formControlName="firmName">
            <label class="form-label" for="form3Example1c">Firm Name</label>
          </div>
        </div>
        
        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <select id="form3Example1c" class="form-control" formControlName="firmType">
              <option value="Public">Public</option>
              <option value="Private">Private</option>
            </select>
            <label class="form-label" for="form3Example1c">Firm Type</label>
          </div>
        </div>


        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="email" id="form3Example3c" class="form-control" formControlName="firmEmail">
            <label class="form-label" for="form3Example3c">Your Email</label>
          </div>
        </div>
        
        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3adress1c" class="form-control" formControlName="firmAddress">
            <label class="form-label" for="form3Example1c">Address</label>
          </div>
        </div>

                
        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="number" id="form3phone1c" class="form-control" formControlName="firmPhone">
            <label class="form-label" for="form3Example1c">Phone Number</label>
          </div>
        </div>


        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="password" id="form3Example4c" class="form-control" formControlName="firmPassword">
            <label class="form-label" for="form3Example4c">Password</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="password" id="form3password4cd" class="form-control" formControlName="repeatPassword">
            <label class="form-label" for="form3Example4cd">Repeat your password</label>
          </div>
        </div>

        <div class="form-check d-flex justify-content-left mb-5">
          <!-- <input class="form-check-input me-2" value="" id="form2Example3c" /> -->
          <label class="form-check-label" for="form2Example3">
            Already have account <a [routerLink]="['']">Login</a>
          </label>
        

        <div class="d-flex justify-content-center mx-4 mb-3 mb-sm-4 float-end">
          <button type="submit" class="btn btn-success btn-lg" [disabled]="regForm.invalid" >Register</button>
        </div>
        </div>
      </form>

    </div>
</div>