
<section class="trip">
    <div class="section__container trip__container">
      <h2 class="section__title">Services</h2>
      <p class="section__subtitle">
      Financial statements, reports and work programs based on your specific project needs or business requirements.
      Risk assessment, auditing, tax consaltance and business consaltance,
           Business advisory</p>
      <div class="trip__grid">
        <div class="trip__card">
          <img src="../../../assets/images/sev1.PNG" alt="trip" />
          <div class="trip__details">
            <p>Auding</p>
            <div class="card-body">
            <p>Internal audit plays a valuable role in providing assurance that key controls are in place and operating 
              effectively so that financial and other corporate risks are managed. Advice on, and assistance with the operation of an internal audit service is provided. 
              Internal audit can also be outsourced to us.</p>
              </div>
            <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" [routerLink]="['../audit']">Request Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../../assets/images/account.PNG" alt="trip" />
          <div class="trip__details">
            <p>Accounting</p>
            The Firm provides fully outsourced management accounting and company secretarial services to entities with limited resources that wish to focus management effort on growing their business.

            <br> The firm also provides the following services:
            <ul><li></li>
              <li>Review and compile financial statements</li>
              <li>Review current accounting procedures and internal controls</li>
              <li>Implement or improve on computerized accounting systems</li>
              <li>Training and support to accounting staff</li>
              <li>Bookkeeping and payroll services</li>

            </ul>
            <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" >Request Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../../assets/images/consultancy.PNG" alt="trip" />
          <div class="trip__details">
            <p>Consultancy</p>
            As standards of corporate behavior come under increasing scrutiny, 
            senior managers need to take into account the rules, 
            regulations and best practice concerning Corporate Governance. 
            Our specialists provide practical advice in this important area
            <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" [routerLink]="['../']">Request Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="view__all">
        <button class="btn">View More</button>
      </div>
    </div>
  </section>

