
<section class="trip">
    <div class="section__container trip__container">
      <h2 class="section__title">Services</h2>
      <p class="section__subtitle">
      Financial statements, reports and work programs based on your specific project needs or business requirements.
      Risk assessment, auditing, tax consaltance and business consaltance,
           Business advisory</p>
      <div class="trip__grid">
        <div class="trip__card">
          <img src="../../../assets/images/comp2.png" alt="trip" />
          <div class="trip__details">
            <p>Auding</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" [routerLink]="['../audit']">Request Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../../assets/images/comp1.png" alt="trip" />
          <div class="trip__details">
            <p>Business Advisory</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" >Request Now</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="../../../assets/images/Comp3.png" alt="trip" />
          <div class="trip__details">
            <p>Consultants</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
            <div class="booking__price">
              <div class="price"></div>
              <button class="book__now" [routerLink]="['../']">Request Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="view__all">
        <button class="btn">View More</button>
      </div>
    </div>
  </section>

