<div class="container mt-3 shadow-md">
    <div class="row my-5">
        <div class="col-md-6">
            <h3 class="fs-4 mb-3">Auditing</h3>
    
        </div>
        <!-- <div class="col-md-6">
            <button [routerLink]="['../audit']" class="btn btn-success" style="float: right;">Add Audit</button>
        </div> -->
    </div>    
        <div class="row my-5">
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col">Firm Name</th>
                        <th scope="col">Firm Type</th>
                        <th scope="col">Place</th>
                        <th scope="col">Financial Year</th>
                        <th scope="col">Audit Area</th>
                        <th scope="col">Approval Status</th>
                        <th scope="col">Contract Status</th>          
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of audit let y=index">
                        <td>{{y+1}}</td>
                        <td>{{x.firmName}}</td>
                        <td>{{x.firmType}}</td>
                        <td>{{x.firmAddress}}</td>
                        <td>{{x.financialYear}}</td>
                        <td>{{x.areaAudit}}</td>
                        <td>{{x.approvalStatus}}</td>
                        <td>{{x.contractStatus}}</td>
                        <td>
                            <!-- <button class="btn" (click)="updateAudit(x.auditId)"><i class="fas fa-edit"></i></button> -->
                            <button class="btn" (click)="openDeleteConfirmation(x.auditId)"><i class="fas fa-trash"></i></button>
                            <button class="btn" (click)="viewAudit(x.auditId)" ><i class="fas fa-eye"></i></button>
                            <button mat-raised-button color="primary" (click)=" openApprovalConfirmation(x.auditId)" >
                                <mat-icon>done</mat-icon>Approve
                              </button> 
    
                            <button mat-raised-button color="primary" [disabled]="x.approvalStatus !== 'Approved'"
                             (click)="goToContract(x.auditId)" >
                             <mat-icon>description</mat-icon>Contract
                              </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    
    
</div>