<div class="container">
    <header>
      <div class="section__container header__container">
        <div class="header__image">
          <img src="../../../assets/images/IgInt1.PNG" alt="header"  />
          <img src="../../../assets/images/igint2.PNG" alt="header" />
        </div>
        
        <div class="header__content">
          <div>
          
            <h1>ZANZIBAR<br />Firm Of Accountants</h1>
            <p class="section__subtitle">
             Profit in Business 
             prosper in Life
            </p>
            <p>
              Nasaha Consultants is a well-established Zanzibar firm of accountants, tax and business advisors, around the Zanzibar. 
              The firm is established with a new vision of delivering excellent professional services to our clients.
            </p>
            
          </div>
        </div>
      </div>
    </header>

<!--   
    <section class="trip">
      <div class="section__container trip__container">
        <h2 class="section__title">Services</h2>
        <p class="section__subtitle">
        Financial statements, reports and work programs based on your specific project needs or business requirements.
        Risk assessment, auditing, tax consaltance and business consaltance,
             Business advisory</p>
        <div class="trip__grid">
          <div class="trip__card">
            <img src="../../../assets/images/Comp3.png" alt="trip" />
            <div class="trip__details">
              <p>Auding</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
              <div class="booking__price">
                <div class="price"></div>
                <button class="book__now">View More</button>
              </div>
            </div>
          </div>
          <div class="trip__card">
            <img src="../../../assets/images/comp2.png" alt="trip" />
            <div class="trip__details">
              <p>Business Advisory</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
              <div class="booking__price">
                <div class="price"></div>
                <button class="book__now">View More</button>
              </div>
            </div>
          </div>
          <div class="trip__card">
            <img src="../../../assets/images/comp1.png" alt="trip" />
            <div class="trip__details">
              <p>Tax Consalting</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
              <div class="booking__price">
                <div class="price"></div>
                <button class="book__now">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="view__all">
          <button class="btn">View More</button>
        </div>
      </div>
    </section>

    <section class="gallary">
      <div class="section__container gallary__container">
        <div class="image__gallary">
          <div class="gallary__col">
            <img src="assets/gallery-1.jpg" alt="gallary" />
          </div>
          <div class="gallary__col">
            <img src="assets/gallery-2.jpg" alt="gallary" />
            <img src="assets/gallery-3.jpg" alt="gallary" />
          </div>
        </div>
        <div class="gallary__content">
          <div>
            <h2 class="section__title">
              about automated compliance
            </h2>
            <p class="section__subtitle">
              streamline and improve the compliance process within organizations. 
              By automating compliance processes, organizations can reduce the risk
              of non-compliance, avoid penalties and fines, 
              and improve overall operational efficiency.
            </p>
            <button class="btn">View More</button>
          </div>
        </div>
      </div>
    </section> -->

    <section class="subscribe">
      <div class="section__container subscribe__container">
        <div class="subscribe__content">
          <h2 class="section__title">Subscribe to get updates</h2>
          <p class="section__subtitle">
          
          </p>
        </div>
        <div class="subscribe__form">
          <form>
            <input type="email" placeholder="Your email here" />
            <button class="btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>Automated Compliance<span>.</span></h3>
          <p>
            Zanzibar firm of accountants, tax and business advisors, around the Zanzibar.
             The firm is established with a new vision of delivering excellent professional services to our clients.
           .
          </p>
        </div>
        <div class="footer__col">
          <h4>Support</h4>
          <p>FAQs</p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
          <p>Contact Us</p>
        </div>
        <div class="footer__col">
          <h4>Address</h4>
          <p>
            <span>Address:</span> Mkunazi wa Kwanza, Kiembe Samaki,Nyerere road Zanzibar
          </p>
          <p><span>Email:</span>habibussi@nasaha.co.tz</p>
          <p><span>Phone:</span> +255-777475646

          </p>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2023 Web Design Mastery. All rights reserved.
      </div>
    </footer>
 </div>