<div class="container mt-3 shadow-md">
    <div class="row my-5">
        <div class="col-md-6">
            <h3 class="fs-4 mb-3">Contracts</h3>
    
        </div>
    </div>    
        <div class="row my-5">
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col">contractTitle</th>
                        <th scope="col">contractType</th>
                        <th scope="col">startDate</th>
                        <th scope="col">endDate</th>
                        <th scope="col">firmName</th>
                        <th scope="col">firmType</th>
                        <th scope="col">firmAddress</th>
                        <th scope="col">firmPhone</th>
                        <th scope="col">contractStatus</th>
                        <th scope="col">engagementDate</th>          
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of contracts; let y = index;">
                        <td>{{y+1}}</td>
                        <td>{{x.contractTitle}}</td>
                        <td>{{x.contractType}}</td>
                        <td>{{x.startDate}}</td>
                        <td>{{x.endDate}}</td>
                        <td>{{x.firmName}}</td>
                        <td>{{x.firmType}}</td>
                        <td>{{x.firmAddress}}</td>
                        <td>{{x.firmPhone}}</td>
                        <td>{{x.contractStatus}}</td>
                        <td>{{x.engagementDate}}</td>
                        <td></td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
    
    </div>
    
    
</div>