<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <li><a mat-list-item [routerLink]="['home']"><i class="fas fa-tachometer-alt me-2"></i>Home</a></li> -->

      <!-- Audit -->
      <h3>Audit</h3>
      <ul>
        <li><a mat-list-item [routerLink]="['audit']"><i class="fas fa-chart-line me-2"></i>Auditing Form</a></li>
        <li><a mat-list-item [routerLink]="['audit-list']"><i class="fas fa-shopping-cart me-2"></i>Audit List</a></li>
        <li><a mat-list-item [routerLink]="['audit-contracts-list']"><i class="fas fa-shopping-cart me-2"></i>Audit Contracts</a></li>
      </ul>
    
      <!-- Accounting -->
      <h3>Accounting</h3>
      <ul>
        <li><a mat-list-item [routerLink]="['account']"><i class="fas fa-hand-holding-usd me-2"></i>Accounting Form</a></li>
        <li><a mat-list-item [routerLink]="['account-list']"><i class="fas fa-hand-holding-usd me-2"></i>Accounting List</a></li>
        <li><a mat-list-item [routerLink]="['account-contracts-list']"><i class="fas fa-hand-holding-usd me-2"></i>Accounting Contracts</a></li>
      </ul>
    
      <!-- Consultancy -->
      <h3>Consultancy</h3>
      <ul>
        <li><a mat-list-item [routerLink]="['consultant']"><i class="fas fa-shopping-cart me-2"></i>Consultancy Form</a></li>
        <li><a mat-list-item [routerLink]="['consultancy-list']"><i class="fas fa-shopping-cart me-2"></i>Consultancy List</a></li>
        <li><a mat-list-item [routerLink]="['consultancy-contracts-list']"><i class="fas fa-file me-2"></i>Consultancy Contracts</a></li>
      </ul>
    
      <!-- Logout -->
      <!-- <a mat-list-item (click)="logOut()"><i class="fas fa-power-off me-2"></i>Logout</a> -->
    </mat-nav-list>
    
    
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <mat-toolbar-row>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Nasaha Consultancy</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
          {{firmName}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['profile']">Profile</button>
          <button mat-menu-item (click)="logOut()" >Log Out</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
