<div class="container mt-3">
  <div class="row">
      <div class="col-md-4">
          
          <div class="card mb-4 shadow-md">
            <div class="card-body">
              <h2>Client information</h2>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Firm Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.client.firmName}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"> Firm Type</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.client.firmType}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.client.firmEmail}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.client.firmPhone}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.client.firmAddress}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-body">
              <h2>Services Selected</h2> - Auditing
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Auditing Type</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.auditingType}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Auditing Standard</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.auditingStandard}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Auditing Scope</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.areaAudit}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Financial Statement</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.financialStatement}}</p>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Financial Year</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.financialYear}}</p>
                </div>
              </div>
    
              <hr>
    
    
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Previous Audit</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.previousAudit}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Approval Status</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.approvalStatus}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Contract Status</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.contractStatus}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Engagement Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{audit.engagementDate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>



