
<nav>
  <div class="nav__logo">AUTOMATED_COMPLIANCE<span>.</span></div>
  <ul class="nav__links">
    <li class="link"><a [routerLink]="['home']">Home</a></li>
    <li class="link"><a [routerLink]="['serve']">Services</a></li>
    <li class="link"><a [routerLink]="['about']">About</a></li>
    <li class="link"><a [routerLink]="['review']">Reviews</a></li>
    <li class="link"><a [routerLink]="['contact']">contacts</a></li>
  </ul>
  <button class="btn" [routerLink]="['reg']">User-Registration</button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!--   
  <footer class="footer">
    <div class="section__container footer__container">
      <div class="footer__col">
        <h3>Automated Compliance<span>.</span></h3>
        <p>
          Import trial balance or general ledger details from over 60 accounting packages, Excel and ASCII, 
          and export to tax packages and document management systems.
        </p>
      </div>
      <div class="footer__col">
        <h4>Support</h4>
        <p>FAQs</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Contact Us</p>
      </div>
      <div class="footer__col">
        <h4>Address</h4>
        <p>
          <span>Address:</span> mtoni Street, urban-west,
          Zanzibar
        </p>
        <p><span>Email:</span> info@automated_compliance.tz</p>
        <p><span>Phone:</span> +255 987654321</p>
      </div>
    </div>
    <div class="footer__bar">
      Copyright © 2023 Web Design Mastery. All rights reserved.
    </div>
  </footer>
 -->

<!-- user profile -->

