<div class="container mt-3 shadow-md display-flex">
    <div class="row my-5">
        <div class="col-md-6">
            <h3 class="fs-4 mb-3">My Auditing Requests</h3>
    
        </div>
        <!-- <div class="col-md-6">
            <button [routerLink]="['../audit']" class="btn btn-success" style="float: right;">Add Audit</button>
        </div> -->
    </div>    
        <div class="row my-5">
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Financial Year</th>
                        <th scope="col">Area Audit</th>
                        <th scope="col">Auditing Type</th>
                        <th scope="col">Auditing Standard</th>
                        <th scope="col">Financial Statement</th>
                        <th scope="col">Previous Audit</th>
                        <th scope="col">Approval Status</th>
                        <th scope="col">Contract Status</th>
                        <th scope="col">Engagement Date</th>
                        <th scope="col">Action</th>

                        
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of auditList">
                      <td>{{ x.auditId }}</td>
                      <td>{{ x.financialYear }}</td>
                      <td>{{ x.areaAudit }}</td>
                      <td>{{ x.auditingType }}</td>
                      <td>{{ x.auditingStandard }}</td>
                      <td>{{ x.financialStatement }}</td>
                      <td>{{ x.previousAudit }}</td>
                      <td>{{ x.approvalStatus }}</td>
                      <td>{{ x.contractStatus }}</td>
                      <td>{{ x.engagementDate }}</td>
                      <td>
                          <button class="btn" (click)="updateAudit(x.auditId)"><i class="fas fa-edit"></i></button>
                          <!-- <button class="btn" (click)="openDeleteConfirmation(x.auditId)"><i class="fas fa-trash"></i></button> -->
                        <button mat-raised-button color="primary" [disabled]="x.contractStatus !== 'Generated'" (click)="view(x.auditId)">
                            <i class="fas fa-eye"></i> View Contract
                          </button>                      
                    </td>
                    </tr>
                  </tbody>
                  
            </table>
        </div>
    
    </div>
    
    
</div>